<!doctype html>

<head>
	<meta charset="utf-8">
	<title>RaspiRobot</title>
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style/style.css') }}">	
	<link rel='shortcut icon' type='image/x-icon' href="{{ url_for('static', filename='images/favicon.ico') }}" />
	{% block head %}{% endblock %}
</head>

<body>
	<header>
		<nav>
			<ul>
				<li class="nav align-left"> <a href="/"> <img src="{{ url_for('static', filename='images/logo.png') }}" height="32"> RaspiRobot </a> </li>
				<li class="nav align-right"> <a href="/settings.html"> 
	                <div class="icon">
	                  <svg viewBox="0 0 32 32">
	                    <g filter="">
	                      <use xlink:href="#menu"></use>
	                    </g>
	                  </svg>
	                </div>
				</a> </li>
				<li class="nav align-right"> <a href="/log.html"> 
					<div class="icon">
					  <svg viewBox="0 0 32 32">
					    <g filter="">
					      <use xlink:href="#info"></use>
					    </g>
					  </svg>
					</div>
              	</a> </li>
			</ul>
		</nav>
	</header>

	<main>
 		{% block body %}{% endblock %}
 	</main>

 	<script type="text/javascript" src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}"></script>
  	<script type="text/javascript" src="{{ url_for('static', filename='js/nav.js') }}"></script>
  	<script>
      var url = "{{ url_for('static', filename='images/icons.svg') }}";
      var c = new XMLHttpRequest(); c.open('GET', url, false); c.setRequestHeader('Content-Type', 'text/xml'); c.send();
      document.body.insertBefore(c.responseXML.firstChild, document.body.firstChild)
    </script>
 	{% block scripts %}{% endblock %}
</body>
