{% extends "base.html" %}

{% block head %}
  	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style/stream.css') }}">
{% endblock %}

{% block body %}
	<div id="page">
  		<p class="centeredImage"><img id="stream" src="http://{{ ip_addr }}:9000/?action=stream"></p>
	</div>

{% endblock %}

{% block scripts %}

  	<script src="{{ url_for('static', filename='js/control.js') }}"></script>
  	<script src="{{ url_for('static', filename='js/scale_image.js') }}"></script>

{% endblock %}
