{% extends "base.html" %}

{% block head %}
  	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style/stream.css') }}">
{% endblock %}

{% block body %}
	<div id="page">
  		<p class="centeredImage"><img id="stream" src="http://{{ ip_addr }}:9000/?action=stream"></p>
	    <div id="move_circle" class="hidden">
          <svg viewBox="0 0 100 100">
            <circle cx="50" cy="50" r="50" stroke="#191975" stroke-width="5" fill="#191975" fill-opacity="0.2" />
          </svg>
	    </div>
	    <div id="camera_circle" class="hidden">
          <svg viewBox="0 0 100 100">
            <circle cx="50" cy="50" r="50" stroke="#191975" stroke-width="5" fill="#191975" fill-opacity="0.2" />
          </svg>
	    </div>
	</div>

{% endblock %}

{% block scripts %}

  	<script src="{{ url_for('static', filename='js/control.js') }}"></script>
  	<script src="{{ url_for('static', filename='js/scale_image.js') }}"></script>

{% endblock %}
