{% extends "base.html" %}

{% block head %}
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style/table.css') }}">
{% endblock %}

{% block body %}

	<table>
		<thead>
			<tr>
				<th class="type">Type</th>
				<th class="time">Time</th>
				<th class="module">Module</th>
				<th class="description">Description</th>
			</tr>
		</thead>
		<tbody id="log_table_body">

		</tbody>
	</table>

{% endblock %}

{% block scripts %}

	<script src="{{ url_for('static', filename='js/log_listener.js') }}"></script>
	<script src="{{ url_for('static', filename='js/log_table.js') }}"></script>

{% endblock %}