#page {
	position: relative;
	margin: 0px;
	width: 100%;
}
.hidden {
    visibility: hidden;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
}
.centeredImage { 
	text-align: center; 
	vertical-align: middle;
	margin-top: 0px; 
	margin-bottom: 0px; 
	padding: 2px; 
}
