:root {
  --tr-even-color: #e0e0e0;
}

table {
	margin: 10px auto 10px auto;
}
th, td {
	padding: 10px;
}
th {
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-size: 16px;
	border-bottom: 2px solid var(--main-color);
	border-top: 2px solid var(--main-color);
	color: var(--main-color);
	text-align: left;
}
tr:last-child td {
	border-bottom: 2px solid var(--main-color);
}
tr.even {
	background: var(--tr-even-color);
}
.type {

}
.time {

}
.module {
	min-width: 200px;
	max-width: 600px;
}
.description {
	min-width: 200px;
	max-width: 600px;
}
td.type.error {
	background: url("../images/error.png");
	background-size: 24px;
	background-repeat: no-repeat;
	background-position: center;
}
td.type.warning {
	background: url("../images/warning.png");
	background-size: 24px;
	background-repeat: no-repeat;
	background-position: center;
}
td.type.check {
	background: url("../images/check.png");
	background-size: 24px;
	background-repeat: no-repeat;
	background-position: center;
}
td.type.info {
	background: url("../images/info.png");
	background-size: 24px;
	background-repeat: no-repeat;
	background-position: center;
}