:root {
  --main-bg-color: #eee;
  --main-color: #377ba8;
  --tr-even-color: #efefef;
}

table {
	margin: 10px auto 10px auto;
}
th, td {
	padding: 10px;
}
th {
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-size: 16px;
	border-bottom: 2px solid var(--main-color);
	border-top: 2px solid var(--main-color);
	color: var(--main-color);
	text-align: left;
}
tr:last-child {
	border-bottom: 2px solid var(--main-color);
}
tr.even {
	background-color: var(tr-even-color);
}
.type {
	width: 32px;
}
.time {
	width: 64px;
}
.module {
	width: 96px;
}
.description {
	min-width: 200px;
	max-width: 600px;
}
td.type.error {
	background: url("images/error.png");
	background-size: 32px;
}
td.type.warning {
	background: url("images/warning.png");
	background-size: 32px;
}
td.type.check {
	background: url("images/check.png");
	background-size: 32px;
}
td.type.info {
	background: url("images/info.png");
	background-size: 32px;
}